/* fira-code-regular - latin */
@font-face {

  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-code-v22-latin-regular.woff2') format('woff2');
}

/*--------------------*/
/*--------------------*/
/*-----Body styles----*/
/*--------------------*/
/*--------------------*/

body{
	margin: 0px;
	font-family: Fira Code, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
h2{
	font-size: 35px;
	color: darkgray;
	margin: 40px 0px 10px;
}
button{
	font-family: Fira Code, Arial, sans-serif;
	font-size: 25px;
}
/*--------------------*/
/*--------------------*/
/*----Header styles---*/
/*--------------------*/
/*--------------------*/


/*--------------------*/
/*--------------------*/
/*----Header Slider---*/
/*--------------------*/
/*--------------------*/
header{
	max-height: 75vh;
	min-height: 20vh;
	overflow: hidden;
}

header .headerSlider {
	width: auto;
	height: auto;
	position: relative;
	text-align: center;

  }
  .slides{
	display: none;
  }

header .slides img{
	width: 100%;
	overflow: hidden;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: clamp(10vh, 35%, 35vh) ;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
	

  /* Position the "next button" to the right */
.next {
	right: 0;

  }
.prev {
	left: 0;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #717171;;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: black;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }


/*--------------------*/
/*--------------------*/
/*-----Main styles----*/
/*--------------------*/
/*--------------------*/

main{
	max-width: 60vw;
	margin:0px auto;
	padding: 0px 20px;
}

main img{
	max-width: 100%;
}

/*--------------------*/
/*-----Accoordion-----*/
/*--------------------*/

main .accordion{
	background-color: lightgoldenrodyellow;
	color: black;
	width: 100%;
	padding: 20px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid black;
	outline: none;
	transition: 0.4s;	
}

main .accordion::after{
	padding-right: 20px;
	content: "+";
}
main .active::after{
	padding-right: 20px;
	content: "-";


}
main .accordion::after,main .active::after{
	display: block;
	float: right;
	width: 10px;
	width: 10px;

}

main .active, main .accordion:hover {
	background-color: #ccc;
	transition: 0.5s;
	

}

main .panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	background-color: white;
	overflow: hidden;
	max-height: 0vh;
	transition: max-height 0.4s ease-out;
}
main .show{
	max-height: 60vh;

}

main .panel div{
	width: 50%;
}
main .panel img {

	height: auto;

}

main p.img-txt{
	font-style: italic;
	color: lightgray;
	margin-top: 0px;
}

main ul li{
	list-style: square;

}

@media (max-width:1024px) {
	main .panel{
		flex-direction: column;
	}
	main .panel div{
		width: 100%;
	}
	
}

/*--------------------*/
/*--------------------*/
/*---Footer styles----*/
/*--------------------*/
/*--------------------*/

footer{
	background-color: lightgoldenrodyellow;
	text-align: center;
	color: black;
	padding: 20px 0px;
	border-top: 10px groove black;

}
.show{
	display: block;
}